/*:root {
    --primary-color: #dc143c;
    --bold-font-weight: 800;
    --secondary-color: #e2dddd;
    --main-content-border-radius: 0.5em;
  }
*/
*
{
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    font-family: "Montserrat", system-ui, monospace, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
.container
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 2fr;
}
.sidebar
{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
.main-content
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.projects
{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    
}
.project{
    padding: 2em;
    border-left: 0.5em solid rgb(228, 189, 14);
    border-radius: 1em;
    box-shadow:  0 0 0.5em rgba(0,0,0,0.3);
    margin: 1em;
}
.announcements
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-left: 1em;
}
img{
    display: block;
    width: 100%;
}
.icon{
    width: 20px;
    cursor: pointer;
}
.project-icons{
    display: flex;
    gap: 1.5em;
    justify-content: end;
}
.sidebar{
    background-color: #dc143c;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 3em;
    font-weight: 800;
    line-height: 3em;
    color: #fff;
    font-size: 0.8rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li:hover {
    color: #e2dddd;
}
.user-navigation .home::before
{
    content: url(images/home.svg);
}
.user-navigation .prof::before
{
    content: url(images/account.svg);
}
.user-navigation .msg::before
{
    content: url(images/message.svg);
}
.user-navigation .his::before
{
    content: url(images/history.svg);
}
.user-navigation .tasks::before
{
    content: url(images/calendar-check.svg);
}
.user-navigation .comm::before
{
    content: url(images/hammer-sickle.svg);
}

.settings-menu .settings::before
{
    content: url(images/cog.svg);
}
.settings-menu .support::before
{
    content: url(images/face-agent.svg);
}
.settings-menu .privacy::before
{
    content: url(images/incognito.svg);
}
.user-navigation .home::before,
.user-navigation .prof::before,
.user-navigation .msg::before,
.user-navigation .his::before,
.user-navigation .tasks::before,
.user-navigation .comm::before,
.settings-menu .settings::before,
.settings-menu .support::before,
.settings-menu .privacy::before
{
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: -50px;
    bottom: 9px;
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(352deg) brightness(102%) contrast(103%);
}
.dashboard,
.user-navigation,
.settings-menu {
  margin-left: 3rem;
}

.dashboard,
.user-navigation ul li,
.settings-menu ul li {
  position: relative;
}

