/*:root {
    --primary-color: #dc143c;
    --bold-font-weight: 800;
    --secondary-color: #e2dddd;
    --main-content-border-radius: 0.5em;
  }
*/
*
{
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    font-family: "Montserrat", system-ui, monospace, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: #e2dddd;
}
input,button {
  font: inherit;
}
.container
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 2fr;
}
.header
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    padding: 1em 3em;
    gap: 1em;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow:  0 0 0.5em rgba(0,0,0,0.3);
    height: 13em;
    background: #fff;
}
label {
    display: flex;
}
  
input {
    border-radius: 10em;
    outline: none;
    background: #e2dddd;
    border: none;
    padding: 0.2em 0.5em;
    width: 80%;
    min-width: 50px;
  }
.trending-content img, .profile-avatar-top img 
{
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.header .top
{
    display: grid;
    grid-template-columns: minmax(30px, 3fr) minmax(20px, 1fr);
    align-items: center;
}
.header .bottom
{
    display: flex;
    gap: 5em;
    justify-content: space-between;
    align-items: center;
}
.username {
    font-weight: 800;
}
.profile-text > :first-child {
    font-size: 0.9rem;
    font-weight: 800;
}
  
.profile-text > :last-child {
    font-size: 1.6rem;
    font-weight: 800;
}
.search
{
    display: flex;
    align-items: center;
    gap: 1em;
}
.top-end {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5em;
    justify-content: end;
    align-items: center;
}
.bottom .bottom-left
{
    display: flex;
    gap: 1em;
    align-items: center;
}
.bottom .bottom-right
{
    display: flex;
    gap: 1.5em;
    justify-content: end;
}
button
{
    border-radius: 10em;
    background: #dc143c;
    padding: 0.5em;
    border: none;
    min-width: 8em;
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}
button:hover {
    opacity: 0.9;
}


.profile-avatar-bottom img{
    border-radius: 100%;
    width: 90px;
    height: 90px;
    background: black;
}

.sidebar
{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
.main-content
{
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.5em 1em;
    padding: 2em 1em 2.5em;
    padding-top: 0;
}
.project-container
{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.project-container h3{
    padding-left: 1em;
}
.projects
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-auto-rows: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
}

.project{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    border-left: 0.5em solid rgb(228, 189, 14);
    border-radius: 1em;
    box-shadow:  0 0 0.5em rgba(0,0,0,0.3);
    margin: 1em;
    background-color: #fff;
}
.trending,.announcements
{
    grid-column: 2 / 3;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    width: 100%;
}
.announcement
{
    background: #dc143c;
    border-radius: 0.5em;
    height: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
}
.announcement > :nth-child(2n)
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.announcement>div{
    padding: 1em 0;
}
.trends {
    background: #fff;
    height: 100%;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    display: grid;
    gap: 1em;
    padding: 2em;
}
  
.trending-content {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 0.8rem;
}
  
.trending-acc {
    font-weight: 800;
}
img{
    display: block;
    width: 100%;
}
.icon{
    width: 20px;
    cursor: pointer;
}
.project-icons{
    display: flex;
    gap: 1.5em;
    justify-content: end;
}
.sidebar{
    background-color: #dc143c;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 3em;
    font-weight: 800;
    line-height: 3em;
    color: #fff;
    font-size: 1.1em;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li:hover {
    color: #e2dddd;
    cursor: pointer;
}
.dashboard 
{
    font-size: 2rem;
    cursor: pointer;
}
.dashboard::before
{
    content: url(images/view-dashboard.svg);
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    left: -60px;
    top: -2px;
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(352deg) brightness(102%) contrast(103%);
}
.user-navigation .home::before
{
    content: url(images/home.svg);
}
.user-navigation .prof::before
{
    content: url(images/account.svg);
}
.user-navigation .msg::before
{
    content: url(images/message.svg);
}
.user-navigation .his::before
{
    content: url(images/history.svg);
}
.user-navigation .tasks::before
{
    content: url(images/calendar-check.svg);
}
.user-navigation .comm::before
{
    content: url(images/hammer-sickle.svg);
}

.settings-menu .settings::before
{
    content: url(images/cog.svg);
}
.settings-menu .support::before
{
    content: url(images/face-agent.svg);
}
.settings-menu .privacy::before
{
    content: url(images/incognito.svg);
}
.user-navigation .home::before,
.user-navigation .prof::before,
.user-navigation .msg::before,
.user-navigation .his::before,
.user-navigation .tasks::before,
.user-navigation .comm::before,
.settings-menu .settings::before,
.settings-menu .support::before,
.settings-menu .privacy::before
{
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    left: -50px;
    bottom: 22.6px;
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(352deg) brightness(102%) contrast(103%);
}
.dashboard,
.user-navigation,
.settings-menu {
  margin-left: 3rem;
}

.dashboard,
.user-navigation ul li,
.settings-menu ul li {
  position: relative;
}

